<div class="container-fluid">
  <%= render 'layouts/header' %>
</div>
<div class="page-wrapper">
<h1>Edit Blog</h1>
<%= render "form" %>

</div>
<div class="container-fluid">
<%= render 'layouts/footer_main' %>
</div>
