<div class="container-fluid">
  <%= render 'layouts/header' %>
</div>
<div class="container-fluid">
  <div class="page-wrapper blog">

<h1>new blog</h1>
<%= render "form" %>
</div>
</div>
<div class="container-fluid">
<%= render 'layouts/footer_main' %>
</div>
