<section>
  <%= render "layouts/header" %>
</section>

<body class='houses_list'>
  <menu>
    <div id="filters">
      <button id="type" class="filter">type</button>
      <button id="distance" class="filter">distance</button>
      <button id="price-low" class="filter">price low</button>
      <button id="price-high" class="filter">price high</button>
      <button id="gender" class="filter">gender</button>
      <button id="room-type" class="filter">room type</button>
      <button id="style" class="filter">style</button>
      <button id="amenities" class="filter">amenities</button>
      <button id="sort-by" class="filter">sort by</button>
    </div>
  </menu>

  <div class='app-wrapper'>
    <div id='map-area'>
      <div id='map'> </div>
    </div>

    <section>
      <div id='houses'>
        <% @houses.each do |house| %>
          <%= render partial: "house", locals: { house: house } %>
        <% end %>
      </div>

      <%= render "layouts/footer_main" %>
    </section>
  </div>
</body>
