<section>
  <%= render 'layouts/header'%>
  </section>
<section>
  <div class='container-fluid about'>


<h2 class="about-staff">the company</h2>
<div class="col-sm-12 about">
  <p class="card-text">Founded in 2015 and established on January 1, 2018, zober is a limited liability company based in Superior, Colorado with a presence in San Francisco, California. zober is a recovery marketplace for people seeking transparent and unbiased information about supportive sober housing and other treatment services across North America.<br>

Our mission is simple: save lives. It is our intention to be the best source of information for people seeking help online, supporters trying to help their loved ones, and for professionals and advocates in the industry. Everything we tackle, whether directly or indirectly, is meant to help people find the best path to their recovery. We don’t discriminate on how one obtains recovery, if it’s through traditional or holistic methods, a blend, or the unusual. We aim to contribute to the success of people as they strive to rebuild their lives, repair relationships, and re-enter the world as a better version of themselves.</p>
</div>
</div>


</section>
<%= render 'layouts/footer_main'%>
