 <%= render 'layouts/header' %>
<% provide(:title, 'about') %>
<div class="wrapper_fluid">
  <div class="col-sm-12">
<h1 class="contact">get in touch.</h1>
</div>
</div>
<div class="wrapper">
<ul class="text-list">
<li><h3 class='text-list-contact'>contact</h3><div class="col-sm-12"><a href="mailto:getzober@zober.co?" class='contact-address'>zober@zober.co</a></div></li></ul>
</div>
<div class="wrapper-fluid">
<div class="col-sm-6">
  <h4 class="ring">or give us a ring at 720-427-0850 we love to chat!</h4>
</div></div>
<section>
<%= render 'layouts/footer_main'%>
</section>
