@mixin filter {
  font-size: 13px;
  border-style: solid;
  border-radius: 20;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

#secondNav {
  background-color:#ef8b3e;
}
// houses index/list

#filters {
  position: absolute;
  top: 40%;
}

.filter {
  @include filter;
  background-color: black;
  border-color: white;
  color: white;
}

.filter:hover {
  @include filter;
  background-color: white;
  border-color: black;
  color: black;
}

.filter-active {
  @include filter;
  background-color: white;
  border-color: black;
  color: black;
}

.filter-selections {
  width: 100%;
}

.filter-selection {
  font-size: 13px;
  position: relative;
}

.filter-selection-active {
  font-size: 13px;
  background-color: lightblue;
  color: white;
}

.selected {
  background-color: blue;
}

.selected:hover {
  background-color: blue;
}

menu {
  width: 100%;
  height: 57px;
  background-color: #000000;
  background-size:100% 100%;
  position: fixed;
  top: 56px;
  .nav {
    padding-top: 15px;
  }
}

.col-sm-12.mx-auto {margin-top:200px;}

.app-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 130px;
}

#map-area {
  width: calc(100% - 800px);
  height: 100vh;
}

#map {
  width: 100%;
  height: 100%;
}

.houses_list {
  overflow:hidden;
  margin:0;
}

.info-price {
  float: right;
}

.sidebar {
  margin-left: 5px;
  width: 800px;
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.imagebox #carousel{
  border-left: 5px solid white;
}

.imagebox img {
  opacity: 1;
  transition: 0.5s opacity;
}

.imagebox .imagebox-desc {
  bottom: 0px;
  color: white;
  font-size: 1em;
  left: 15px;
  right: 0px;
  position: absolute;
}

.house-display .img-fluid {
  display:block;
  margin:auto;
}

.house-display {
  margin-top: 90px;
}

.thumbnail {
  position: relative;
}

.slick-prev {
  margin-left: 40px;
  z-index:3;
}

.slick-next {
  margin-right: 40px;
  z-index:3;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.caption p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

#icons8 {
  height: 36px;
}

.house-website {
  color: black;
}

.d-block {
  height: 300px;
  width: 100%;
}

.description {
  color: #898989;
}

.title {
  font-size: 39px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0px;
}

.amenity-list li {
  display: inline;
  list-style-type: none;
  color: #626262;
}

.amenity-list {
  padding: 0;
  list-style-type: none;
}

.house-details {
  margin-left: 50px;
  margin-top: 0px;
}

@media (max-width: 50em) {
 .contact-card {
display: none;
}
}

.contact-card {
  margin-left: 90px;
}

.card-title.call{
  padding-top: 20px;
}


//form area styling//
.form-area
{background-color: #FAFAFA;padding: 10px 40px 60px;margin: 10px 0px 60px;border: 1px solid GREY;}
  h6 {margin-right: 30px;}
  //housing form styling//
  .label-house .label-house p {font-family: roboto; margin-right:20px; margin-left:20px; font-size:16px;}
  .row-fluid.internet{display:flex; margin-top:20px; text-align:left; font-family:roboto;}
  .row-fluid-image {display:inline-block; }
  .col-sm-6.image{display:inline-block; font-family:roboto; font-size: 16px;}
  .container-fluid-image {margin-bottom: 40px; margin-top:40px; border-top: 1px solid GREY; border-bottom:1px solid GREY;padding:30px}

  .checkbox-filters {
    text-align: left;
    margin-top: 30px;
  }

.field-house{border-radius: 0 0 0 0;}

.field-house {border-radius: 0 0 0 0; font-size:16px;font-family:roboto;}
