h1 {text-align:center; color: #626262; font-family: Raleway; margin-top:140px; }
.largeHeader {margin-bottom: 40px; font-size:4rem; font-weight:600;}
.mainContent{margin-top:100px;}
.login_button {text-align:center; font-family:raleway; }
.secondary-button .upload-button {font-family:raleway; position: absolute; margin:auto;}
.centeredDescription {font-family:raleway; color:#626262; text-align:center;}
.signup .container-fluid{margin-top:140px;}
//styling of the signup form//
.signupForm {text-align:center; font-family:raleway;}
label {font-family:raleway; color: black;}
input{color:#626262;}
.profile {text-align:center; font-family:raleway; color:#626262; margin-top:20px;}
button {margin:auto;}
.col_4{text-align: center; }
.btn {float:none;}
.createAccount{border-radius: 15px 15px 15px 15px; width: 10%; padding: 5px;font-family:raleway; color: #ffffff;background-color: #f47f49;}
.createAccount:hover{color:#ffffff; background-color: #ffffff; color:#f47f49;}
.computer{padding-left:35px; padding-right:35px;}
.signup_field {width: 30%; }
.border-form-div {
  display: table;

  width: 100%;
  height: auto;
  padding: 0;

  text-align: center;

  color: black;
  background: url('sunsetring.jpg') no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: .5;
  border-radius: 15px;

}
h2.provider_signup {text-align:center; padding-right:120px; color:black}
