h1 {text-align:center; color: #f47f49; font-family: Raleway; }
.login_button {text-align:center; font-family:raleway; }
.secondary-button .upload-button {font-family:raleway; position: absolute; margin:auto;}
.centeredDescription {font-family:raleway; color:#626262; text-align:center;}
.user_signup {margin-top:140px; margin-bottom:140px}
//styling of the signup form//
.signupForm {text-align:center; font-family:raleway;}
label {font-family:raleway; color: #626262;}
input{color:#626262;}
.profile {text-align:center; font-family:raleway; color:#626262; margin-top:20px;}
button {margin:auto;}
.col_4{text-align: center; }
.btn {float:none;}
.createAccount{border-radius: 15px 15px 15px 15px; font-family:raleway; color: #ffffff;background-color: #f47f49;}
.createAccount:hover{color:#ffffff; background-color: #ffffff; color:#f47f49;}
.computer{padding-left:35px; padding-right:35px;}
.please_select{margin-bottom:20px; margin-right:25%;}
h2.provider_signup {text-align:center; padding-right:120px; color:black}
