.date {font-family:raleway;}
.blog_title {font-size: 4rem; color: black;}
.row-fluid.blogs_topic { margin-top:40px; margin-bottom:40px;}
#blogs{border-top: 1px solid black;}

.img-fluid.blog_topic {

  min-width: 100%;

}
.blog-content{padding-left:20px; padding-right:20px; font-size:18px; font-family:raleway; }
.col-lg-8 .col-md-10 .mx-auto .blog {padding-left:20px; padding-right:20px; font-size:18px; font-family:raleway; }
